footer {
  width: 100%;
  font-weight: 500;
  color: var(--darkBlue2);
  text-transform: capitalize;
}

footer > * {
  margin: 0.5rem auto;
}

footer > :nth-child(1) {
  font-size: 1.25rem;
  line-height: 1.5;
}

footer > :nth-last-child(1) {
  font-size: 1rem;
  line-height: 1.25;
}

/* For Screens wider than 900px */
@media only screen and (min-width: 900px) {
  footer > :nth-child(1) {
    font-size: 2rem;
  }
  
  footer > :nth-last-child(1) {
    font-size: 1.5rem;
  }
}