.App {
  text-align: center;
}

.ReactModal__Content {
  width: 75dvw;
  min-height: 20dvh;
}

.ReactModal__Overlay {
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--after-close{
  opacity: 0.5;
}

/* For Screens wider than 900px */
@media only screen and (min-width: 900px) {
	.ReactModal__Content {
    width: 60dvw;
  }
}