:root {
	--background: #6d9feb;
	--white: #fff;
	--black: #000;
	--emojiYellow: #ffdc62;
	--emojiPink: #e76060;
	--lightBlue: #afcdf9;
	--darkBlue1: #11233f;
	--darkBlue2: #02398a;
}

html {
	background: var(--background);
}

body {
	margin: 0;
	font-family: "Dosis", sans-serif;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
